<%- include('partials/_header') -%>

<body>

    <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= posta.title %></h1>
            <span class="meta"><%= posta.dateCreated.toUTCString() %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= posta.description %></p>
        </div>
        <div class="col-lg-4 col-md-2 mx-auto">
          <a href="/post/edit/<%= posta._id %>" class="btn btn-success">Update</a>
          <a href="/post/<%= posta._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE?')" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </article>

  <hr>

  
  <%- include('partials/_footer') -%>